<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<h1>This is working</h1>

<h2>{{data.wineryname}}</h2>
<h2>{{data.id}}</h2>